<h1>My tasks🧾✅</h1>
<ul>
  <% @tasks.each do |task| %>
    <li >
    <%= task.title %>
    <%# <%= task.details %>
    <input type="checkbox" name="completed" id="completed" <%= 'checked' if task.completed %>>
    </li>
  <% end %>
</ul>
